.img-circle {
    border-radius: 50%;
    z-index: -2;
    opacity: 1;
}

.name *{
    opacity: 1;
}

.header{
    display:flex;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1
}