<header class="header">

  <div class=" w-100">
    <div class='bg-yellow  tc pt1 pa4-ns  flex '>
      <div class='f1 pl2 tl-ns fl b lh-title  w-100 w-50-m w-50-l'>
        <div class='f2  '>Jessica Wise</div>
      </div>
      <div class='fr tr fl b lh-title  pr4 w-100 w-50-m w-50-l '>
        <div>
          <a class="link tr pa2 black bg-animate " href='mailto:jessieiswise@gmail.com'>jessieiswise@gmail.com</a>
        </div>
        <div>
          <a class="link tr black bg-animate " href="#">(425) 426-9379</a>
        </div>
      </div>
    </div>
    <div class='cf w-100  f6 ph3 ' >
      <div (click)="registerClick(topic)" class="fl w-100 white pointer bg-purple dim w-50-m w-25-l bg-black-10 tc pv2" *ngFor="let topic of this.topics ">
        <span class='f3'><a class='link  underline-hover white hover-gold' routerLink="/{{topic}}">{{topic}}</a></span>
      </div>
    </div>
  </div>

</header>